language: node_js
node_js:
    - '16'
    
cache:
    yarn: true
    directories:
        - dist
        - .cache
script:
    - yarn build

deploy:
    provider: pages
    skip-cleanup: true
    local_dir: dist
    github-token: $GITHUB_TOKEN
    keep-history: true
    target_branch: gh-pages
    on:
        branch: main
