<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Pixel art editor designed to make tiled maps and tilesets." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Plextus</title>
    </head>
    <body>
        <div id="root"></div>
        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/18.0.0/umd/react.production.min.js"
            integrity="sha512-bom/WJB/C/RVkBpU7ic7qopGc/CSWjj1aZhZLykucHKCZuT9h881Uh8VdvEioA6L0vQ/Tsaw1uK2Pnj312c17g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.0.0/umd/react-dom.production.min.js"
            integrity="sha512-HBhuJNLkfYh0Z++tgfKYCstQZzgQmMbAfK4FvzxHrUYqfI+FRnXeBn1ZXu+1NSGWissxE2ipI+eKaoRbRV2W4Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <% } else { %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/18.0.0/umd/react.development.js"
            integrity="sha512-GdQQyTFXs1GLGTujkySkbzwzVPBvzVn592PcFhIeH1+osYSWkOVh87C09LD3Vnxg38Tbs2JS1elDQQ+0dE4H3w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.0.0/umd/react-dom.development.min.js"
            integrity="sha512-ceW96lqF1ad6ylVGx76p51lTvoaOE0+Wtu+DejxEDAFtASH4E4uVmuXPoKoX56d2R0vobx6TtvrFcq6ZNG9A1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <% } %>
    </body>
</html>
